<button id="play" (click)="play()">New Game</button>
<button id="okay">Okay</button>
<div class="container">			
  <div class="r0c0 cell" id="0"><img src=""></div>
  <div class="r0c1 cell" id="1"><img src=""></div>
  <div class="r0c2 cell" id="2"><img src=""></div>
  <div class="r1c0 cell" id="3"><img src=""></div>
  <div class="r1c1 cell" id="4"><img src=""></div>
  <div class="r1c2 cell" id="5"><img src=""></div>
  <div class="r2c0 cell" id="6"><img src=""></div>
  <div class="r2c1 cell" id="7"><img src=""></div>
  <div class="r2c2 cell" id="8"><img src=""></div>
  <div class="container2">
    <img id="loading" src="">
    <button id="reset">Play Again</button>
  </div>
</div>