h2, h1 {
	color: white;
	font-family: sans-serif;
	text-align: center;
}

h2 {
	margin-top: 10px;
	font-size: 20px;
}

h1 {
	font-size: 40px;
}

#notification {
	margin: 20px auto;
	font-size: 20px;
	text-align: center;
}